body {
  color: white;
}
section {
  border-radius: 15px;
  background-color:	rgba(0,0,0,0.5);
}

.buttons {
  box-shadow: 1px 1px 0 0 blue;
}

section {
  justify-content: center;
}

.line {
  display: flex;
  flex-wrap: nowrap;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px dashed darkgray;
  text-align: center;
}
.cell:hover {
  background-color: rgba(255,0,0,0.1);
}

.cell:active {
  background-color: rgba(255,255,0,0.1);
}

.imgfishka {
  margin-top: 20%;
  margin-bottom: auto;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}
